.btn {
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:#2dabf9;
    border-radius:10px;
    border:1px solid #2dabf9;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}

.btn:hover {
    background:#0688fa;
    background-color:#0688fa;
}

.btn:active {
    position:relative;
    top:1px;
}

p, a {
    font-family: 'Courier New', Courier, monospace;
}

.disabled-btn {
    pointer-events: none;
}

#start-over {
    line-height: 40px;
}